{% extends "layout.html" %}

{% block content %}
<div class = 'container'>
	<div class = 'row'>
		<div class = "map-panel col-lg-8 col-md-8">
			<div id='map-canvas'></div>
		</div>
		<div class = "entirePanel col-lg-4 col-md-4">
		<div class="panel panel-default upper-panel">
		  <div class="panel-heading">Welcome to Trip Planner!</div>
		  <div class="panel-body">
		    <div class="container">
		      <div class="text-left">
		        <!-- <h1>Welcome to {{title}}</h1> -->
		        <div class= "menu-div">
			        <h3 class="menu"> Hotels </h3>
			        	<select class='options'> 
			          {% if hotels.length > 0 %}
			              {% for hotel in hotels %}
			               <option value="{{hotel['name']}}">{{hotel['name']}}</option>
			              {% endfor %}
			            </select>
			            <p><span class="glyphicon glyphicon-plus-sign"></span></p>
			          {% else %}
			            There are no pages. Why don't you <a href='/add'>add one</a>?
			          {% endif %}
			     </div>
			   


		        <div class= "menu-div">
			        <h3 class="menu"> Restaurants </h3>
			          	<select class='options'>
			        	{% if restaurants.length > 0 %}
			            
			              {% for restaurant in restaurants %}
			                 <option value="{{restaurant['name']}}">{{restaurant['name']}}</option>
			              {% endfor %}
			            </select>
			            <p><span class="glyphicon glyphicon-plus-sign"></span></p>
			          {% else %}
			            There are no pages. Why don't you <a href='/add'>add one</a>?
			          {% endif %}
			    </div>

		        <div class= "menu-div">
			        <h3 class="menu"> Things To Do </h3>
			          <select class='options'>
			        	{% if things.length > 0 %}
			            
			              {% for thing in things %}
			                 <option value="{{thing['name']}}">{{thing['name']}}</option>
			              {% endfor %}
			            </select>
			            <p><span class="glyphicon glyphicon-plus-sign"></span></p>
			          {% else %}
			            There are no pages. Why don't you <a href='/add'>add one</a>?
			          {% endif %}
			    </div>
		      </div> 
		    </div><!-- /.container -->
		  </div>
		</div>



		
		<div class="panel panel-default lower-panel">
		  <div class="panel-heading"> Day 2
			  <div class="btn-group" role="group" aria-label="...">
			    <button type="button" class="btn btn-default">1</button>
			    <button type="button" class="btn btn-default">2</button>
			    <button type="button" class="btn btn-default">3</button>
			    <button type="button" class="btn btn-default">+</button>
			  </div>
		  </div>
		  <div class="panel-body">
		    <h3 class="menu"> My Hotel </h3>
		    <h4>Wall Street Inn<p><span class="glyphicon glyphicon-remove-sign"></span></p><h4>
		    <h3 class="menu"> Things To Do </h3>
		    <h4>Hop Lee Restaurant<p><span class="glyphicon glyphicon-remove-sign"></span></p></h4>
		    <h3 class="menu"> Things To Do </h3>
		    <h4>National September 11th Memorial & Museum<p><span class="glyphicon glyphicon-remove-sign"></span></p></h4>
		  </div>
		</div>
		</div>
	</div>
</div>

    
 
{% endblock %}
